/node_modules
npm-debug.log
.DS_Store
.babelrc

# IntelliJ
*.iml
/.idea

/src
/tests

./webpack.commomn.js
./webpack.config.js
./webpack.dev.js
./webpack.prod.js
./Dockerfile
./index.html
./tailwind.config.js
./postcss.config.js
.gitignore

/tests
