/node_modules
npm-debug.log
.DS_Store
.gitignore

# IntelliJ
*.iml
/.idea

/public
/src
/tests


.babelrc
Dockerfile
index.html
webpack.common.js
webpack.config.js
webpack.dev.js
webpack.prod.js
tailwind.config.js
postcss.config.js

